button{
    background-color: #26a0da;
    height: 60px;
    border: none;
    color: white;
    width: 180px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}